extends ../base.pug

block variables
  - var template = 'media_page'

block content
  .media_page(id=`${media_page.uid}/` data-background="#3131f1" data-color="#fff")
    .media_page__wrapper

      .media__page__hero.is-fixed
        .media__page__hero__wrapper
          .media__page__hero__left
            h2.media_page__hero__title(data-animation="title")!=media_page.data.title.replace(/\n/g, '<br>')
          .media__page__hero__right
            each service in media_page.data.services 
              div(data-animation="title")
                a.media_page__hero__link(href=`#${service.service_link}`)!=service.service_title.replace(/\n/g, '<br>')
            div(data-animation="title")
              a.media_page__hero__button(href=`${lang}/${media_page.data.parent_page.uid}/`)!=media_page.data.button
        .media__page__hero__description
          p(data-animation="title")=media_page.data.description
        

      //- .media_page__body
      each section in media_page.data.body

        if (section.slice_type === 'image')
          section.media_page__section(id=`${section.primary.element_id}`)
            .media__page__slice-image(class=`${section.primary.media_position === 'Left' ? 'media__page__slice-image--left' : 'media__page__slice-image--right'}`)
              .media__page__slice-image__text
                h2.media__page__slice-image__title(data-animation="title")=section.primary.service_title
                .media__page__slice-image__description!=PrismicDOM.RichText.asHtml(section.primary.service_description).replace(/<p>/g, '<p data-animation="title">')
                div(data-animation="title")
                  if ( section.primary.service_link.type === 'pack' )
                    a.media__page__slice-image__button(href=`${lang}/${parent_page__pack}/${section.primary.service_link.uid}/`)=section.primary.service_button
                  else if ( section.primary.service_link.type === 'media_page' )
                    a.media__page__slice-image__button(href=`${lang}/${media_page.data.parent_page.uid}/${section.primary.service_link.uid}/`)=section.primary.service_button
                  else
                    a.media__page__slice-image__button(href=`${lang}/${section.primary.service_link.uid}/`)=section.primary.service_button

              if (section.primary.is_video === true)
                figure.media__page__slice-image__media
                  video.media__page__slice-image__media__image(poster=`${section.primary.service_image.url}` preload='auto' playsinline='true' autoplay='true' loop='true' muted='true' disablepictureinpicture='true' src=`${section.primary.service_video.url}`)
              else 
                figure.media__page__slice-image__media
                  img.media__page__slice-image__media__image(alt=section.primary.service_image.alt data-src=section.primary.service_image.url)

        if (section.slice_type === 'icons')
          section.media_page__section(id=`${section.primary.element_id}`)
            .media__page__slice-icons

              each icon in section.items 
                .media__page__slice-icons__item
                  .media__page__slice-icons__item__icon
                    include ../partials/icons

                  .media__page__slice-icons__item__text
                    h3.media__page__slice-icons__title(data-animation="title")=icon.icon_title
                    .media__page__slice-icons__description(data-animation="title")=icon.item_description

        if (section.slice_type === 'info')
          section.media_page__section(id=`${section.primary.element_id}`)
            .media__page__slice-info
              .media__page__slice-info__left
                h2.media__page__slice-info__title(data-animation="title")=section.primary.info_title
                div(data-animation="title")
                  a.media__page__slice-info__button(href=`${lang}/${media_page.data.parent_page.uid}/`)!=section.primary.info_button
              .media__page__slice-info__right
                h3.media__page__slice-info__subtitle(data-animation="title")=section.primary.info_subtitle
                .media__page__slice-info__description!=PrismicDOM.RichText.asHtml(section.primary.info_description).replace(/<p>/g, '<p data-animation="title">')

        if (section.slice_type === 'transparent_info')
          section.media_page__section(id=`${section.primary.element_id}`)
            .media__page__slice-transparent-info
              .media__page__slice-transparent-info__wrapper
                .media__page__slice-transparent-info__left
                  h2.media__page__slice-transparent-info__title(data-animation="title")!=section.primary.transparent_title.replace(/\n/g, '<br>')
                .media__page__slice-transparent-info__right
                  .media__page__slice-transparent-info__description!=PrismicDOM.RichText.asHtml(section.primary.transparent_description).replace(/<p>/g, '<p data-animation="title">')
                  div(data-animation="title")
                    a.media__page__slice-transparent-info__button(href=`${lang}/${media_page.data.parent_page.uid}/`)!=section.primary.transparent_button

      .media__page__packs
        .media__page__packs__wrapper
          .media__page__packs__text
            h2.media__page__packs__title(data-animation="title")=media_page.data.packs_title
            .media__page__packs__description!=PrismicDOM.RichText.asHtml(media_page.data.packs_description).replace(/<p>/g, '<p data-animation="title">')

          .media__page__packs__slider
            .packs__slider
              .swiper-container
                .swiper-wrapper
                  each pack, index in packs
                    each pack_on_page in media_page.data.packs
                      if (pack.uid === pack_on_page.pack.uid)
                        .swiper-slide
                          a.packs__pack(href=`/${lang}/${pack.data.parent_page.uid}/${pack.uid}/`)
                            h3.packs__pack__title!=pack.data.title.replace(/\n/g, '<br>')
                            .packs__pack__price=`€${pack.data.price}`

                            each feature in pack.data.features
                              .packs__pack__feature=feature.feature_title

      include ../partials/footer
