extends ../base.pug

block variables
  - var template = 'the_media'

block content
  .the_media(data-background="#3131f1" data-color="#fff")
    .the_media__wrapper

      section.the_media__marquee.is-fixed
        .the_media__marquee__preview
          figure.the_media__marquee__preview__media
            img(data-src="https://youthcoop.pt/wp-content/uploads/2017/10/placeholder-1-300x300.png")
        
        .the_media__marquee__list
          .the_media__marquee__list__content
            each word, index in design.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_design[0].link.uid}/` data-animation="title")
                span=word.text
          .the_media__marquee__list__content.the_media__marquee__list__content__copy
            each word, index in design.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_design[0].link.uid}/` data-animation="title")
                span=word.text

        .the_media__marquee__list
          .the_media__marquee__list__content
            each word in web.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_web[0].link.uid}/` data-animation="title")
                span=word.text
          .the_media__marquee__list__content.the_media__marquee__list__content__copy
            each word in web.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_web[0].link.uid}/` data-animation="title")
                span=word.text

        .the_media__marquee__list
          .the_media__marquee__list__content
            each word in ads.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_ads[0].link.uid}/` data-animation="title")
                span=word.text
          .the_media__marquee__list__content.the_media__marquee__list__content__copy
            each word in ads.words_list
              a.the_media__marquee__link(href=`${lang}/${the_media.uid}/${the_media.data.marquee_ads[0].link.uid}/` data-animation="title")
                span=word.text
        
        .the_media__marquee__button__wrapper
          .the_media__marquee__button=the_media.data.button

      include ../partials/footer